:root {
  --primary-color: #3F51B5;
  --secondary-color: #FF4081;
  --accent-color: #455a64;
  --shadow-color: #c5cae9;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
